<div class="nav-col">
  <a class="nav-link" href="{% url 'frontend:home' %}" role="menuitem">🏠 خانه</a>
  <a class="nav-link" href="#" role="menuitem">📚 فایل های من</a>
  <a class="nav-link" href="#" role="menuitem">🤖 دستیار نویسنده</a>
  <a class="nav-link" href="#" role="menuitem">📄 استاد مجازی</a>
  <a class="nav-link" href="#" role="menuitem">📖 درس وبحث</a>
  <a class="nav-link" href="#" role="menuitem">💡 چت با کتاب </a>
  <a class="nav-link" href="#" role="menuitem">✨ کنکور</a>
  <a class="nav-link" href="#" role="menuitem">❝ آموزش زبان</a>
  <a class="nav-link" href="#" role="menuitem">🗄️ پایگاه دانش</a>
  <a class="nav-link" href="#" role="menuitem">🛡️ ارتباط باما</a>
</div>